# DB
MARIADB_DATABASE=ai_go
MARIADB_USER=app_user
MARIADB_PASSWORD=app_pass
MARIADB_ROOT_PASSWORD=root_pass

# 포트
DB_PORT_PUBLIC=3307
API_PORT_PUBLIC=8000

# 기타
TZ=Asia/Seoul
CREATE_TABLE_ON_START=false

DATABASE_URL=mysql+pymysql://app_user:app_pass@127.0.0.1:3306/ai_go?charset=utf8mb4