fastapi
uvicorn
pydantic
python-dotenv>=1.0.0
beautifulsoup4>=4.12.0
openai>=1.30.1
chromadb>=0.4.24
pymysql
python-multipart
tiktoken
pandas
weaviate-client>=4.5.0
sqlalchemy
alembic
passlib[bcrypt]
python-jose[cryptography]
email-validator

mariadb>=1.1.0
mysql-connector-python>=8.2.0
pytest>=7.4.0
requests>=2.31.0
pydantic[email]>=2.5.0
